#root {

  margin: 0 auto;
  text-align: center;
}

.nav-list{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  margin: 10px;
}


.turtle{
  color: red;
}

.form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.contact-input{
  margin: 15px;
}

.contact-text{
  margin: 15px;
  height: 100px;
}

.card-map {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.card-style {
  margin: 20px 30px;
}

.card-container{
  margin-top: 17px;
}

.card-container .card .card-body a {
  margin: 0 5px;
}

.header {
  width: 100%;
  background-color: rgb(148, 181, 194);
}

.footer {
  width: 100%;
  background-color: rgb(148, 181, 194);
  height: 130px;
}
