#root {
  background-color: #666762;
  color: #E2DED0;
  margin: 15px;
  text-align: center;
}

.nav-list{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  margin: 10px;
}


.turtle{
  color: #175873;
}

.form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.contact-input{
  margin: 15px;
}

.contact-text{
  margin: 20px;
  height: 100px;
}

.submitButton{
  margin-bottom: 30px;
  margin-top: 10px;
}

.card-map {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.card-style {
  margin: 40px 60px;
}

.card-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-container .card .card-body a {
  margin: 0 5px;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #808A78;
  border-top: 0;
  border-bottom: 3px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #E2DED0;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #CA9A97;
  border-top: 3px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  /* border-color: #746C70; */
}
